# Local Configuration Files #
conf/cloud.properties

# Maven Target #
target

# Java class files #
*.class

# Eclipse Files #
.classpath
.project
.settings/

# Package Files #
*.jar
*.war
*.ear
test-results.xml
