# Local Configuration Files #
conf/cloud.properties

# Maven Target #
target

# Java class files #
*.class

# Eclipse Files #
.classpath
.project
.settings/
.metadata/

# Package Files #
*.jar
*.war
*.ear

# Iter Files
test-results.xml
datacollection-experiment/
